
{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="manage-songs" %}

<main>
    <dialog id="duplicate-song-dialog">
        <form method="dialog">
            <p>Sorry, someone already selected this song. Do you want to choose a different one?</p>
            <div class='buttons-wrapper'>
                <button value="reset" class="reset">I'll choose another song</button>
                <button value="continue" class="continue">I still want to sing it</button>
            </div>
        </form>
    </dialog>
    <div id="add-song-wrapper">
        <div id="signups-disabled-text" {% if can_signup %} {% else %} class="signups-disabled" {% endif %}>
            <p>SIGNUP IS<br>CLOSED</p>
        </div>
        <h2>Choose your next song!</h2>
        <p class="form-explain">Pick literally anything in the Broadway or Disney style (seriously, try us!):</p>
        <div id="new-song-form-wrapper">
            <div class="form-messages hidden"></div>
            <form action="" id="new-song-form" autocomplete="off">
                {% csrf_token %}
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                <div class="form-control">
                    <input type="text" name="song-name" id="song-name" placeholder="Song name" required
                     {% if can_signup %} {% else %} class="signups-disabled" disabled {% endif %}>
                </div>
                <div class="form-control">
                    <input type="text" name="musical" id="musical" placeholder="Where's it from?" required
                     {% if can_signup %} {% else %} class="signups-disabled" disabled {% endif %}>
                </div>
                <div class="form-control">
                    <input type="text" name="notes" id="notes" placeholder="Additional requests?"
                     {% if can_signup %} {% else %} class="signups-disabled" disabled {% endif %}>
                </div>
                <div class="form-control">
                    <label for="partners">Select partners:
                        </label>
                    <select name="partners" id="partners" multiple
                     {% if can_signup %} {% else %} class="signups-disabled" disabled {% endif %}>
                        {% for partner in possible_partners %}
                        <option value="{{ partner.id }}">
                            {% if partner.is_superuser %} 
                            --- {{ partner.first_name }} --- 
                            {% else %}
                            {{ partner }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-control" id="submit-wrapper">
                        <input type="submit" value="To the stage!" {% if can_signup %} class="btn btn-inverted" {% else %} class=" btn btn-inverted signups-disabled" disabled {% endif %}>
                </div>
            </form>
            <div class="form-explain">
                A partner is anyone else coming on stage: <br>Your duet partner, backup singers, etc.
            </div>
            <div class="form-bullets">
                <ul>
                    <li>Both singers and audience can be someone else's partner <strong>once</strong> per evening</li>
                    <li>Missing a partner? You can always select Alon or Shani!</li>
                </ul>
            </div>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/add-song.js" %}"></script>
<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}
