{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="faq" %}
<main class="with-scroll">
    <div id="faq-wrapper">
        <div id="faq">
            <h1>Frequently Asked Questions</h1>
            <ul>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>What's this all about?</p></div>
                    <div class="answer">It's quite simple really - sign up with any song that you like, and we'll call you up when your turn arrives. Come up and sing, and our pianist (Alon - hi :) ) will pull up the sheet music to your song and you're ready to go.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Wait, really any song?</p></div>
                    <div class="answer">That's right! Any song that's in the Broadway genre (just because it's the best ;) ). Along with classical Broadway/Off-Broadway/Off-Off-Broadway, you're welcome to think of stuff like Disney, Dr. Horrible's Sing-Along Blog, Crazy Ex-Girlfriend, Smash.. You get our drift. You can consult our massive personal library of sheet music floating around for ideas.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How can you play anything I think of?</p></div>
                    <div class="answer">Well, along with all of our sheet music books, we also have our Magical iPad Of Plenty, which has hundreds and hundreds of scores to anything you can think of. And if that fails, there's always the internet. Once in a while people manage to stump us - will it be you tonight?
                    If you happen to pick a song that our pianist has never heard of, he'll ask you to sing a few bars first so he understands how it goes. By the way, we have an obscure songs form where you can let us know about songs in advance so we can come prepared with the sheet music. You'll still have to sign up with the app, it just means that you're giving us a heads up :)</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>I want to sing in a specific key</p></div>
                    <div class="answer">When you sign up with a song you can add notes for us, like the key that you want and other requests. We can play in any key thanks to our fancy keyboard that does all the work for us.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Help! I've never sung with a pianist before!</p></div>
                    <div class="answer">Don't worry! Our pianist's job is to follow you, not the other way around. All you need to do is come up and start singing. You can feel free to sing as fast or slow as you like, take breaks for fun dialogs in the song, anything you like. He'll be listening and following you the whole time. If you look at him, he'll give you little head nods to help you understand when to come in.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>What about the lyrics?</p></div>
                    <div class="answer">We have a screen up on stage for you to see the lyrics clearly as you perform. It mirrors the large screen that the audience sees.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How many times can I sign up?</p></div>
                    <div class="answer">As many times as you like! We developed a fancy algorithm that determines the most fair order of singers in the evening. So you can sign up as much as you like - but people who have sung less will get precedence. Fair's fair. Shout out to Uriel Rosenzweig and Joey Geralnik who helped us come up it. You rock!</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>I signed up with several songs and only see one of them in the lineup</p></div>
                    <div class="answer">You will only see the next song that you're going to sing in the lineup. If you see your songs under "Manage songs" in the app, that means your songs are in the system. You can also delete and rename the songs from there.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Explain to me how it works without using words like "algorithm"</p></div>
                    <div class="answer">We like to think of it as the "Disneyland Ride" method. The moment you sign up for a song, you enter the line. While you wait in line for your turn, others will probably line up behind you. Once you get on the ride (perform) you can circle back and stand in line again - after all the people who are already waiting. You'll always see only one song of yours in the lineup. After you sing, if you signed up for another song,
                        you'll appear again at the end of the list with the next song. Duets count as a full song.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>I arrived very late - will I be able to sing?</p></div>
                    <div class="answer">We got you! About an hour before the evening is over we'll close the signup and push all the singers who haven't sung yet to the top of the list.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How do I sign up for duets?</p></div>
                    <div class="answer">When you sign up for your song you can select another singer to duet with you. Remember that is counts as a turn for them as well! If you want, you can always select Alon or Shani to be your duet partner. There's also an option to select "additional singers" for smaller singing parts that shouldn't count as a full duet.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>What about group songs?</p></div>
                    <div class="answer">Every so often we'll sing a group song together. You can suggest a group song for us under "Suggest a Song". Be sure to select the "group song" checkbox. You won't see the suggestions, but we do and will take it into consideration when choosing tonight's group songs.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>I don't know what to sing/I have an idea for someone else</p></div>
                    <div class="answer">You can suggest a song idea for people to choose from under "Suggest a Song". You can view all suggestions from the link in the song signup form. If you click a suggestion you'll be able to automatically sign up with it.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>This digital system is awesome! Who made it?</p></div>
                    <div class="answer">Well thank you very much! You really are too kind. Alon our pianist's day job is actually a programmer (thought not really a web developer, so excuse the glitches). He had a lot of fun putting this together for us, but couldn't have done it without Bat-Chen Harari's help and guidence on the graphic design side. If you have any comments about it, he would be thrilled to geek out with you about it when he's not playing.</div>

                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Actually, who are you guys?</p></div>
                    <div class="answer">We are Shani (MC and singer) and Alon (pianist). We fittingly met while performing in a musical, and have been doing so ever since. We perform together and separately, mostly in the Jeruslem musical theater scene. Our last role together was as Aida and Radames in Aida. We also played Tony and Maria in West Side Story and Belle and Gaston in Beauty and the Beast. You may have also recently seen Shani as the Little Mermaid and Alon leading the band of Heathers. We live in Kfar Saba with a cute dog named Genie (of course) who wishes she could come and a cute baby named Adam who sometimes might come and sing a few tunes!</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>When is your next event?</p></div>
                    <div class="answer">Join our <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=faq&utm_campaign=webapp&utm_content=faq-whatsapp"><strong>silent WhatApp group</strong></a> to find out! Only we can write there, and we send updates about the next events and nothing else. If you're there, you'll hear about the next event several days before anyone else and get a chance to snag tickets before they run out.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How can I keep in touch with the new friends I made here?</p></div>
                    <div class="answer">We have a <a href="https://www.facebook.com/groups/763859465058650"><strong>Facebook group</strong></a> for Broadway With a Twist, and also a <a href="https://chat.whatsapp.com/FMQhixtbV344s3ahZe9Ngp"><strong>community Whatsapp group.</strong></a> We'd love to see you there!</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Where can I see the list of songs that were performed tonight?</p></div>
                    <div class="answer">After each event we post the list of songs (and their performers) in our <a href="https://www.facebook.com/groups/763859465058650"><strong>Facebook group</strong></a> and <a href="https://www.facebook.com/broadwaywithatwist"><strong>Facebook page</strong></a>.</div>
                </li>
            </ul>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}
