{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="faq" %}
<main class="with-scroll">
    <div id="faq-wrapper">
        <div id="faq">
            <h1>Common Questions</h1>
            <ul>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>What's this all about?</p></div>
                    <div class="answer">It's quite simple really - sign up with any song that you like, and we'll call you up when your turn arrives. Come up and sing, and our pianist (Alon - hi :) ) will pull up the sheet music to your song and you're ready to go.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Wait, really any song?</p></div>
                    <div class="answer">That's right! Any song that's in the Broadway genre (just becuase it's the best ;) ). Along with classical Broadway/Off-Broadway/Off-Off-Broadway, you're welcome to think of stuff like Disney, Dr. Horrible's Sing-Along Blog, Crazy Ex-Girlfriend, Smash.. You get our drift. You can consult our massive personal library of sheet music floating around for ideas.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How can you play anything I think of?</p></div>
                    <div class="answer">Well, along with all of our sheet music books, we also have our Magical iPad Of Plenty, which has hundreds and hundreds of scores to anything you can think of. And if that fails, there's always the internet. Once in a while people manage to stump us - will it be you tonight?
                    If you happen to pick a song that our piansist has never heard of, he'll ask you to sing a few bars first so he understands how it goes.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Help! I've never sung with a pianist before!</p></div>
                    <div class="answer">Don't worry! Our pianist's job is to follow you, not the other way around. All you need to do is come up and start singing. You can feel free to sing as fast or slow as you like, take breaks for fun dialogs in the song, anything you like. He'll be listening and following you the whole time.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>How many times can I sign up?</p></div>
                    <div class="answer">As many times as you like! We developed a fancy algorithm that calls people up according to how long they've been waiting and how many songs they've already sung. So you can sign up as much as you like - but people who have sung less will get precedence. Fair's fair. Shout out to Uriel Rosenzweig who came up with the core idea. You rock!</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>I arrived very late - will I be able to sing?</p></div>
                    <div class="answer">No worries! Our fancy platform knows that you haven't sung yet, and you'll be jumped up to the front of the list.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>This digital system is awesome! Who made it?</p></div>
                    <div class="answer">Well thank you very much! You really are too kind. Alon our pianist's day job is actually a programmer (thought not really a web developer, so excuse the glitches). He had a lot of fun putting this together for us, but couldn't have done it without Bat-Chen Harari's help and guidence on the design side. If you have any comments about it, he would be thrilled to geek out with you about it when he's not playing.</div>

                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>Actually, who are you guys?</p></div>
                    <div class="answer">We are Shani (MC and singer) and Alon (pianist). We fittingly met while performing in a musical, and have been doing so ever since. We perform together and separately, mostly in the Jeruslem musical theater scene. Our last role together was as Aida and Radames in Aida. You may have also recently seen Shani as the Little Mermaid and Alon leading the band of Heathers. We live in Kfar Saba with a cute puppy named Genie (of course) who wishes she could come.</div>
                </li>
                <li>
                    <div class="question"><i class="fa-solid fa-star"></i><p>When is your next event?</p></div>
                    <div class="answer">Right now we do one event a month in Jerusalem and one event a month in Raanana, and hoping to expand further. Join our <a href="https://chat.whatsapp.com/La9NtdsfoXC0xKnCVjTdIw"><strong>WhatApp broadcast</strong></a> for updates about future events - and nothing else. We promise nothing will be sent there other than the occasional notification about the next event</div>
                </li>
            </ul>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}