{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="home" %}

<main class="nested-footer">
    <div class="temp-banner hidden">
        <div class="container text-center bold">
            <p>Happy Birthday Idani!!! &nbsp; 🎉🎉🎉</p>
        </div>
    </div>
    <div id="now-singing-wrapper">
        <a href="{% url "live_lyrics" %}">
        <div id="now-singing">
            <div class="container">
                <h2>Now Performing:</h2>
                <div class="headliner">
                    <p></p>
                </div>
                <div class="current-song">
                    <p></p>
                </div>
                <div class="up-next">
                    <p>(Coming up next - <span id="next-singer"></span> with <span id="next-song"></span>)</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    {% if new_song != None %}
        {% if is_group_song %}
        <div id="song-added" class="third-card">
            <div class="container">
                <p>Thanks for suggesting <span class="song-name">{{ new_song }}</span> as a group song. Shani will now be able to see your suggestion, and we'll try to work it in during the evening!</p>
            </div>
        </div>
        {% else %}
        <div id="song-added" class="third-card">
            <div class="container">
                <p>Success! You're signed up to sing<br><span class="song-name">{{ new_song }}</span><br>Can't wait to see you up there!</p>
            </div>
        </div>
        {% endif %}
    {% endif %}
    {% if is_singer %}
    <div id="dashboard-wrapper" class="dark-card {% if raffle_winner %} raffle-winner {% endif %}">
        <div id="home-dashboard">
            <div>
                <p id="user-next-song-title"></p>
                <a id="user-next-song-lyrics"><p id="user-next-song-name"></p></a>
            </div>
            <div>
                <p id="expand-tips">>> Performance tips</p>
                <a href="{% url 'manage_songs' %}" class="btn" id="manage-songs-btn">My Songs</a>
            </div>
        </div>
        <div id="no-song">
            <div>
                {% if not raffle_winner %}
                    <h3>What'll you sing for us?</h3>
                    <p>We can't wait to see you up there!</p>
                {% endif %}
            </div>
            <div id="manage-songs-btn-wrapper">
                <a href="{% url 'add_song' %}" class="btn" id="manage-songs-btn">Sign up to sing!</a>
            </div>
        </div>
        <div id="home-tips" class="expand">
            <ul>
                <li>Look at our pianist as the songs starts - he'll help you come in correctly</li>
                <li>If you want people to hear you - hold the mic <strong>very</strong> close to your mouth</li>
                <li>If you want to sing faster or slower, just do it! Our pianist will follow you</li>
                <li>If the key isn't right, just stop and ask to change it. Our keyboard is magical :)</li>
                <li>No one came here to judge! Relax and enjoy yourself! :)</li>
            </ul>
        </div>
    </div>
    {% endif %}

    <a href="{% url 'lineup' %}">
        <div id="home-lineup" class="flex-card home-card {% if is_singer %} secondary-card{% else %}dark-card audience{% endif %}">
            <div class="row">
                <div class="column larger">
                    <div class="column-1">
                        <h3>Lineup</h3>
                        <p>What's in store tonight?</p>
                    </div>
                </div>
                <div class="column smaller">
                    <div class="column-2">
                        {% if is_singer %} <!-- Blue background -->
                        <img src="{% static 'img/main/lineup-black.png' %}" alt="">
                        {% else %} <!-- Dark background -->
                        <img src="{% static 'img/main/lineup-green.png' %}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% if not is_singer %}
    <a href="{% url 'live_lyrics' %}">
        <div id="home-suggest-song" class="flex-card secondary-card home-card audience">
            <div class="row">
                <div class="column larger">
                    <div class="column-1">
                        <h3>Lyrics</h3>
                        <p>Follow along!</p>
                    </div>
                </div>
                <div class="column smaller">
                    <div class="column-2">
                        <img src="{% static 'img/main/lyrics.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'suggest_group_song' %}">
        <div id="home-suggest-song" class="flex-card dark-card-secondary-text home-card audience">
            <div class="row">
                <div class="column larger">
                    <div class="column-1">
                        <h3>Suggest a group song</h3>
                        <p>Have an idea for us?</p>
                    </div>
                </div>
                <div class="column smaller">
                    <div class="column-2">
                        <img src="{% static 'img/main/suggest-song-blue.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endif %}
    <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=home-page&utm_campaign=webapp&utm_content=whatsapp-banner">
        <div id="home-whatsapp" class="flex-card light-card home-card {% if not is_singer %}audience{% endif %}">
            <div class="row">
                <div class="column larger">
                    <div class="column-1">
                        <h3>When's the next time??</h3>
                        <p>Join our silent group!</p>
                    </div>
                </div>
                <div class="column smaller">
                    <div class="column-2">
                        <div id="no-spam">No Spam!</div>
                        <i
                                class="fa-brands fa-whatsapp fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <footer class="regular">
        <div id="footer-wrapper" class="container dark-card">
            <div id="copywrite-wrapper">
                <p>Copyright &copy; 2025 - Broadway With a Twist</p>
            </div>
            <div id="footer-links">
                <a href="https://www.facebook.com/groups/763859465058650/?utm_campaign=webapp&utm_medium=website&utm_source=webapp-footer&utm_content=footer-facebook-group"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/bwtisrael/?utm_campaign=webapp&utm_medium=website&utm_source=webapp-footer&utm_content=footer-instagram"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@bwtisrael"><i
                        class="fa-brands fa-tiktok"></i></a>
                <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=footer&utm_campaign=webapp&utm_content=footer-whatsapp"><i
                        class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
</main>

<script type="text/javascript">
    const isSinger = {{ is_singer|yesno:"true,false" }};
    const djangoUsername = "{{ username|escapejs }}";
</script>
<script type="module" src="{% static "js/home.js" %}"></script>
<script src="{% static "js/navbar.js" %}"></script>

{% endblock %}
