{% extends 'base.html' %}

{% load static %}
{% load img_tags %}

{% block content %}
{% include "partials/_navbar.html" with current="live-lyrics" %}

<div id="passcode-reveal-wrapper">
    <p>Secret Word:<p>
    <p id="passcode-reveal"></p>
</div>
<div id="lyrics-logo" class="fixed-logo" data-big-logo="{% bwt_big_logo %}" data-small-logo="{% bwt_small_logo %}">
    <img id="logo-img">
    <div id="social-qrs">
        <div id="tag-us-handle-wrapper">
            <img src="{% static 'img/social/instagram-logo.png' %}" alt="" class="tag-us-icon">
            <img src="{% static 'img/social/tiktok-logo.png' %}" alt="" class="tag-us-icon">
            <p class="tag-handle">@bwtisrael</p>
        </div>
        <div id="tag-us-title">
            <p>Don't forget to tag us!</p>
        </div>
    </div>
</div>
<div id="lyrics-wrapper">
    <div class="container">
        <div class="center">
            <div id="lyrics-text"></div>
        </div>
    </div>
</div>

<div class="trivia-wrapper hidden live-lyrics-trivia">
    <div class="trivia-questions-wrapper hidden live-lyrics-trivia">
        <h2>TRIVIA QUESTION!!</h2>
        <div class="question-text live-lyrics-trivia"></div>
        <div class="trivia-image-wrapper">
            <img id="question-image-lyrics" class="question-image hidden" alt="Question Image">
        </div>
    </div>
    <div class="trivia-winner-wrapper live-lyrics-trivia">
        <div class="trivia-winner-title live-lyrics-trivia">
            AND THE WINNER IS...
        </div>
        <div class="trivia-winner-name live-lyrics-trivia">
        </div>
        <div class="trivia-answer-title live-lyrics-trivia">
            THE CORRECT ANSWER WAS:
        </div>
        <div class="trivia-answer live-lyrics-trivia">
        </div>
    </div>
</div>

<div class="raffle-winner-wrapper hidden">
        <div class="fireworks"></div>
        <div class="raffle-participants">
            <div class="raffle-participants-title">
                AUDIENCE RAFFLE
            </div>
            <div class="raffle-subtitle">
                Who will come on stage??
            </div>
            <div class="raffle-slot-machine">
                <div class="raffle-slot-wrapper">
                    <div class="raffle-slot raffle-slot-above"></div>
                    <div class="raffle-slot raffle-slot-middle"></div>
                    <div class="raffle-slot raffle-slot-below"></div>
        </div>
        </div>
        </div>
</div>

{% include "partials/_footer.html"  %}
<script src="{% static "js/navbar.js" %}"></script>

<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>        
<script
src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
{% if demo_mode %}
<script type="module" src="{% static "js/demo-live-lyrics.js" %}"></script>
{% else %}
<script type="module" src="{% static "js/live-lyrics.js" %}"></script>
{% endif %}

{% endblock %}

