{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include "partials/_navbar.html" with current="live-lyrics" %}
<div class="fixed-logo">
    <img src="{% static 'img/logo.png' %}">
</div>
<div id="lyrics-wrapper">
    <div class="container">
        <div class="center">
            <div id="lyrics-text"></div>

    </div>
</div>
{% include "partials/_footer.html"  %}
<script src="{% static "js/navbar.js" %}"></script>

<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous"></script>        
<script
src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
crossorigin="anonymous"></script>

<script type="module" src="{% static "js/live-lyrics.js" %}"></script>

{% endblock %}

