{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="login-hero">
    <div id="login-wrapper">
        <div id="login-title">
            <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=login-page&utm_campaign=webapp&utm_content=login-page-whatsapp"><h1>Broadway<br>With a Twist</h1></a>
        </div>
        {% if evening_started %}
        <div class="form-messages"></div>
        <h3>Let's get this party started!</h3>
        <h2>What ticket do you have?</h2>
        <div class="toggle-container">
            <input type="checkbox" id="ticket-type-toggle" class="toggle-checkbox">
            <label for="ticket-type-toggle" class="toggle-label">
                <span class="toggle-slider"></span>
                <div class="inner-toggle">
                    <div class="toggle-text">Audience</div>
                    <div class="toggle-text">Performer</div>
                </div>
            </label>
        </div>
         <div id="audience-login-wrapper" class="active login-form-wrapper">
            <form action="" method="POST" id="audience-login-form" autocomplete="off">
                {% csrf_token %}
                <input type="hidden" name="ticket-type" value="audience">
                <div class="form-control">
                    <input type="text" name="first-name" id="first-name" placeholder="First Name" autocomplete="off" required>
                </div>
                <div class="form-control">
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name" autocomplete="off" required>
                </div>
                <div class="form-control">
                    <input type="text" name="passcode" id="passcode" placeholder="Tonight's Secret Word" autocomplete="off" required>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="checkbox" name="logged-in" id="logged-in">
                        <label for="logged-in">I already logged in tonight</label>
                    </div>
                </div>
                <input type="submit" value="Come on in!" class="login-btn">
            </form>
        </div>

        <div id="singer-login-wrapper" class="login-form-wrapper" >
            <form action="" method="POST" id="singer-login-form" autocomplete="off">
               {% csrf_token %}
                <input autocomplete="false" name="hidden" type="text" style="display:none;">

                <input type="hidden" name="ticket-type" value="singer">

                <div class="form-control">
                    <input type="text" name="first-name" id="first-name" placeholder="First Name" autocomplete="off" required>
                </div>
                <div class="form-control">
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name" autocomplete="off" required>
                </div>
                <div class="form-control">
                    <input type="text" name="passcode" id="passcode" placeholder="Tonight's Secret Word" autocomplete="off" required>
                </div>
                <div class="form-control">
                    <input type="text" name="order-id" id="order-id" placeholder="Order Number (on your ticket)" autocomplete="off" required>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="checkbox" name="logged-in" id="logged-in">
                        <label for="logged-in">I already logged in tonight</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="no-upload" id="no-upload">
                        <label for="no-upload">Please don't upload images of me</label>
                    </div>
                </div>
                <input type="submit" value="Come on in!" class="login-btn">
            </form>
        </div>
        {% else %}
        <div id="not-started-wrapper">
            <div id="not-started-message">
                <p>Tonight's Event Hasn't Started Yet</p>
            </div>
            <div id="login-icons">
                <div id="login-whatsapp">
                    <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=login-page-locked&utm_campaign=webapp&utm_content=login-page-whatsapp-when-locked"><i class="fa-brands fa-whatsapp"></i> When's the next one?</a>
                </div>
                <div id="login-social">
                    <div id="login-facebook">
                        <a href="https://www.facebook.com/groups/763859465058650/"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div id="login-instagram">
                        <a href="https://www.instagram.com/bwtisrael/" id="navbar-instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.instagram.com/bwtisrael/" id="navbar-instagram"></a>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>

<script src="{% static "js/login.js" %}"></script>
{% endblock %}
