{% extends 'base.html' %}

{% block content %}

<div id="login-hero">
    <div id="login-wrapper">
        <div id="login-title">
            <h1>Broadway<br>With a Twist</h1>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Error:
                    {% else %}
                    {{ message.tags|title }}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div id="login-form-wrapper">
            <h3>Let's get this party started!</h3>
            <form action="{% url 'login' %}" method="POST" id="login-form">
               {% csrf_token %}

                <div class="form-control">
                    <input type="text" name="first-name" id="first-name" placeholder="First Name">
                </div>
                <div class="form-control">
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name">
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="checkbox" name="logged-in" id="logged-in">
                        <label for="logged-in">I already logged in tonight</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="no-upload" id="no-upload">
                        <label for="no-upload">Please don't upload images of me</label>
                    </div>
                </div>
                <input type="submit" value="Let me in!" class="btn">
            </form>
        </div>
    </div>
</div>
{% endblock %}
