{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="manage-songs" %}
<main>
    <div id="song-list-wrapper">
        <div class="container">
            <h1>Your Next Songs</h1>
            <ol id="song-list"></ol>
            <div class="center">
                <a href="{% url 'add_song' %}" class="btn btn-secondary-inverted" id="new-song-btn">Add New Song</a> 
            </div>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/manage-songs.js" %}"></script>
<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}
