{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="manage-songs" %}
<main class="with-scroll">
    <div id="manage-songs-wrapper">
        <div id="song-list-wrapper">
            <div class="container">
                <h1>Current selections<i class="fa-solid fa-arrows-up-down"></i></h1>
                <ul id="song-list"></ul>
            </div>
        </div>
        <div id="add-song-wrapper">
            <div id="singups-disabled">
                <p>Signup is<br>now closed</p>
            </div>
            <h2>Choose your next song!</h2>
            <p id="add-song-text">Pick literally anything in the Broadway or Disney style (seriously, try us)
                and come up to sing!</p>
            <div id="new-song-form-wrapper">
                <form action="" id="new-song-form" autocomplete="off">
                    {% csrf_token %}
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <div class="form-control">
                        <input type="text" name="song-name" id="song-name" placeholder="Song Name" required>
                    </div>
                    <div class="form-control">
                        <input type="text" name="musical" id="musical" placeholder="Where's it from?" required>
                    </div>
                    <div class="form-control">
                        <label for="additional singers">Anyone joining your duet? It counts as a turn.<br>Shani and Alon are also
                            available 🙂</label>
                        <select name="duet-partner" id="duet-partner">
                            <option disabled selected value> -- Optional Partner -- </option>

                            <option value="group-song">Everyone! (Request group song)</option>
                            {% for singer in other_singers %}
                            <option value="{{ singer.id }}">{{ singer }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-control" id="submit-wrapper">
                            <input type="submit" value="To the stage!" class="btn btn-inverted">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/manage-songs.js" %}"></script>
<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}
