{% extends 'base.html' %}

{% block content %}

<h1>You are all signed up! Your turn should be coming up about {{song_lineup.0.priority}} songs from now (this might change if someone who has sung less than you signs up.)</h1>
<br>
<h2>* If you chose a song from a book floating around, please bring it up to our pianist - it'll be faster than looking it up on the iPad</h2>

<h2>* If your song is too high, too low, too fast or too slow for you, feel free to stop and tell us - we'll adjust it. The keyboard can easily transpose to different keys.</h2>

<br><br>
<h2>We can't wait to hear you sing!</h2>

<h2><a href="{% url 'song_signup' %}">Go back</a></h2>


{% endblock %}
