{% extends 'base.html' %}

{% block content %}

<h1>You are all signed up! Your turn is coming up just {{song_lineup.0.priority}} songs from now. Can't wait to hear you sing :)</h1>
<br>
<h2>In the meantime, why not sign up to our <a href="https://chat.whatsapp.com/La9NtdsfoXC0xKnCVjTdIw">WhatsApp broadcast group </a> and get updated about our next events? We promise that there will be nothing there aside from letting you know when our next event is happening.</h2>
<br>
<h2>You're also invited to join our <a href="https://www.facebook.com/broadwaywithatwist">Facebook group</a> in order to see vidoes from tonight (only of singers that agreed to be uploaded of course.)</h2>
<br>
<h2><a href="{% url 'song_signup' %}">Sign up for another song</a></h2>

<br>

<div><u>Songs you're signed up for:</u></div>
<ol>
{% for song, singers in song_lineup_with_singers.items %}
  <li>{{ song.song_name }}
    {% if singers.all %}
    (Together with {{ singers.all|join:", " }})
    {% endif %}

    &nbsp; &nbsp; <a href="{% url 'delete_song_request' song.pk %}"
                               onclick="return confirm('Are you sure you want to remove {{song.song_name}} from the queue?')">
      <i
          class="fas fa-times" style="color:red;"></i></a>
  </li>
{% endfor %}
</ol>


<br>
<div>
    <h2>
  <a href="{{request.hostname}}/admin/song_signup/songrequest">Check out the songs we'll be hearing next
    </a>
    </h2>
</div>

<br>



{% endblock %}
