
{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "partials/_navbar.html" with current="suggest-song" %}
<main>
    <div id="add-song-wrapper">
        <div id="suggest-song-header">
            <h2>Suggest a Group Song</h2>
        </div>
        
        <p id="add-song-text">What group song will bring down the house tonight?<p?
        </p>
        <div id="new-song-form-wrapper">
            <form action="/suggest_group_song" method="POST" id="new-song-form" autocomplete="off">
                {% csrf_token %}
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                <div class="form-control">
                    <input type="text" name="song-name" id="song-name" placeholder="Song Name" required>
                </div>
                <div class="form-control">
                    <input type="text" name="musical" id="musical" placeholder="Where's it from?" required>
                </div>
                {% if not is_singer %}
                <div class="form-control">
                    <input type="text" name="suggested_by" id="suggested_by" placeholder="Optional: Your name, for credit 🙂">
                </div>
                {% endif %}
                <div class="form-control" id="submit-wrapper">
                        <input type="submit" value="Suggest" class="btn btn-inverted">
                </div>
            </form>
        </div>
        <div id="suggest-song-bottom">
            <div class="aside-text">
                * Only Shani will see the suggestions and chooses according to the flow of the evening.
            </div>
        </div>
    </div>
</main>

{% include "partials/_footer.html"  %}

<script src="{% static "js/navbar.js" %}"></script>
        
{% endblock %}
