// Colors
$primary-color: #00C575;
$secondary-color: #00b3c5;
$dark-bg: #333;
$light-bg: #f3c9bd;

// Spacing
$navbar-height: 8vh;
$footer-height: 12vh;

// Main screen
$now-singing-height: 26vh;
$dashboard-height: 18vh;
$wa-banner-height: 20vh;
$paybox-banner-height: 17vh;
