// Colors
$primary-color: #00C575;
$secondary-color: #00b3c5;
$dark-bg: #333;
$light-bg: #f3c9bd;
$login: yellow;

// Spacing
$navbar-height: 8vh;
$footer-height: 8vh;

// Main screen
$now-singing-height: 40vh;
$dashboard-height: 22vh;
$wa-banner-height: 12vh;
$paybox-banner-height: 10vh;
