@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oleo+Script+Swash+Caps&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
:root {
  --slider-width: 50%; }

.container {
  width: 100vw;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
  height: 100%; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.bold {
  font-weight: 500; }

.flex-card .row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 5px 10px; }
  .flex-card .row.reverse {
    flex-direction: row-reverse; }

.flex-card .column {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .flex-card .column.smaller {
    width: 25%; }
  .flex-card .column.larger {
    width: 65%; }

.flex-card .column-1,
.flex-card .column-2 {
  height: 100%;
  width: 100%;
  padding: 10px; }

.btn {
  background-color: #00C575;
  color: #000;
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 16px; }
  .btn.btn-inverted {
    background-color: #333;
    color: #00C575; }
  .btn.btn-secondary-inverted {
    background-color: #333;
    color: #00b3c5; }

.dark-card {
  background-color: #333;
  color: #00C575; }

.light-card {
  background-color: #00C575;
  color: #000; }

.secondary-card {
  background-color: #00b3c5;
  color: #000; }

.third-card {
  background-color: #ffff50;
  color: #000; }

.temp-banner {
  background-color: #DC3AD3;
  color: #000;
  font-size: 20px; }

.with-scroll {
  overflow: scroll; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.checkboxes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150%; }

.checkbox {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"] {
    margin-right: 20px;
    appearance: none;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #aaa;
    display: block;
    position: relative;
    transition: all 0.25s ease; }
    .checkbox input[type="checkbox"]:checked {
      background-color: #333; }
      .checkbox input[type="checkbox"]:checked::before {
        content: "\2713";
        display: inline-block;
        text-align: center;
        color: #ffff3d;
        position: absolute;
        left: 10%;
        top: 0;
        font-size: 20px; }
  .checkbox label {
    font-size: inherit; }

.aside-text {
  font-size: 20px;
  font-style: italic;
  font-weight: bold; }

.toggle-container {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 10vh;
  font-family: Arial, Helvetica, sans-serif; }
  .toggle-container .toggle-checkbox {
    display: none; }
  .toggle-container .toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 34px;
    position: relative; }
    .toggle-container .toggle-label .inner-toggle {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around; }
      .toggle-container .toggle-label .inner-toggle .toggle-text {
        color: #fff;
        font-size: 20px;
        z-index: 3; }
    .toggle-container .toggle-label .toggle-slider {
      position: absolute;
      height: 100%;
      left: 0;
      width: var(--slider-width);
      background-color: #00C575;
      border-radius: 34px;
      opacity: 0.9;
      z-index: 2;
      border: 1px black solid;
      transition: left 0.3s ease; }

.link {
  text-decoration: underline; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

nav {
  position: relative;
  height: 8vh;
  z-index: 100; }
  nav .screen {
    display: none; }

#menu-wrapper {
  position: fixed;
  height: 100%;
  visibility: hidden;
  top: 0;
  width: 0;
  z-index: 1; }
  #menu-wrapper.extend {
    visibility: visible; }
    #menu-wrapper.extend #overlay {
      transform: translateX(0);
      opacity: 1; }
    #menu-wrapper.extend #menu {
      transform: translateX(0);
      opacity: 1; }
  #menu-wrapper #overlay {
    background-color: rgba(0, 197, 117, 0.95);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.3s ease; }
  #menu-wrapper #menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 30px 0px 10px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(50vw); }
    #menu-wrapper #menu #menu-content {
      padding: 0px 40px;
      color: #000; }
      #menu-wrapper #menu #menu-content h2 {
        font-size: 40px;
        font-weight: 900; }
      #menu-wrapper #menu #menu-content h3 {
        font-size: 25px;
        margin-bottom: 35px; }
      #menu-wrapper #menu #menu-content li {
        margin: 20px 0;
        font-size: 30px;
        font-weight: 900; }
    #menu-wrapper #menu #navbar-icons {
      width: 100%;
      margin-top: 30px;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #menu-wrapper #menu #navbar-icons #navbar-social {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin: 0px 8%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center; }
        #menu-wrapper #menu #navbar-icons #navbar-social #navbar-instagram {
          display: flex;
          align-items: center; }
          #menu-wrapper #menu #navbar-icons #navbar-social #navbar-instagram p {
            margin-left: 5px;
            font-size: 30px; }
      #menu-wrapper #menu #navbar-icons #navbar-whatsapp {
        text-align: center;
        font-size: 30px;
        margin: 0px 8% 10px;
        display: flex;
        justify-content: center;
        align-items: center; }

#navbar {
  position: fixed;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  transition: all 0.4s ease;
  z-index: 0; }
  #navbar .logo {
    color: #00C575;
    font-family: "Anton", sans-serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    transition: inherit; }

#hamburger-wrapper {
  width: 30px;
  padding: 5px;
  position: fixed;
  z-index: 10;
  top: 2.66667vh;
  right: 2.66667vh; }
  #hamburger-wrapper #hamburger {
    width: 100%;
    height: 2.5px;
    background-color: #00C575;
    position: relative;
    transition: transform 0.3s ease; }
    #hamburger-wrapper #hamburger::before {
      position: absolute;
      content: "";
      top: -7px;
      width: 100%;
      height: 100%;
      background: inherit;
      transition: inherit; }
    #hamburger-wrapper #hamburger::after {
      position: absolute;
      content: "";
      top: 7px;
      width: 100%;
      height: 100%;
      background: inherit;
      transition: inherit; }
    #hamburger-wrapper #hamburger.close {
      transform: rotate(-45deg);
      background-color: #000; }
      #hamburger-wrapper #hamburger.close::before {
        top: 0; }
      #hamburger-wrapper #hamburger.close::after {
        top: 0;
        transform: rotate(90deg); }

#login-hero {
  background: url("../img/login/curtain.jpeg") no-repeat center center/cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1; }
  #login-hero::before {
    content: "";
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.4; }
  #login-hero #login-wrapper {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 3; }
    #login-hero #login-wrapper #login-title {
      font-family: "Oleo Script Swash Caps", cursive;
      font-size: 25px;
      color: #ccc;
      text-shadow: 7px 5px 30px #ffff3d; }
    #login-hero #login-wrapper #not-started-wrapper {
      text-align: center;
      font-weight: 500;
      font-size: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #login-hero #login-wrapper #not-started-wrapper #not-started-message {
        margin-top: 70px;
        color: #ffff50; }
      #login-hero #login-wrapper #not-started-wrapper #login-icons {
        width: 100%;
        margin-top: 80px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        #login-hero #login-wrapper #not-started-wrapper #login-icons #login-social {
          width: 100%;
          text-align: center;
          font-size: 40px;
          margin: 0px 8%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-around;
          align-items: center; }
          #login-hero #login-wrapper #not-started-wrapper #login-icons #login-social #login-facebook {
            color: #4267b2; }
          #login-hero #login-wrapper #not-started-wrapper #login-icons #login-social #login-instagram {
            color: #e1306c;
            display: flex;
            align-items: center; }
            #login-hero #login-wrapper #not-started-wrapper #login-icons #login-social #login-instagram p {
              margin-left: 5px;
              font-size: 30px; }
        #login-hero #login-wrapper #not-started-wrapper #login-icons #login-whatsapp {
          color: #25d366;
          text-align: center;
          font-size: 30px;
          margin: 0px 8% 20px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #login-hero #login-wrapper #not-started-wrapper #login-icons #login-whatsapp i {
            font-size: 40px;
            margin-right: 3px; }
    #login-hero #login-wrapper #form-messages {
      padding: 20px 7%;
      text-align: center;
      color: #ffff50;
      font-weight: 500;
      font-size: 20px; }
    #login-hero #login-wrapper h3 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 1px; }
    #login-hero #login-wrapper #login-form-wrapper {
      padding: 10px 40px; }
      #login-hero #login-wrapper #login-form-wrapper #singer-login-form {
        opacity: 0;
        transform: translateY(-40px);
        visibility: hidden;
        display: none;
        transition: opacity 0.5s ease, transform 0.5s ease; }
        #login-hero #login-wrapper #login-form-wrapper #singer-login-form.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0); }
      #login-hero #login-wrapper #login-form-wrapper form {
        width: 100%; }
        #login-hero #login-wrapper #login-form-wrapper form label {
          font-size: 18px; }
        #login-hero #login-wrapper #login-form-wrapper form .form-control {
          margin-bottom: 20px; }
          #login-hero #login-wrapper #login-form-wrapper form .form-control input {
            width: 100%;
            padding: 4px;
            height: 40px;
            border: #333 2px solid;
            border-radius: 5px;
            background: #333;
            color: #fff;
            font-size: 18px; }
            #login-hero #login-wrapper #login-form-wrapper form .form-control input::placeholder {
              color: #aaa;
              font-size: 18px; }

@keyframes pulsate {
  0% {
    box-shadow: 0px 0px 15px 1px #ffff3d; }
  50% {
    box-shadow: 0px 0px 15px 3px #ffff3d; }
  100% {
    box-shadow: 0px 0px 15px 1px #ffff3d; } }

.login-btn {
  margin: 20px 0;
  width: 90%;
  height: 40px;
  background-color: #555;
  color: #fff;
  font-size: 18px;
  animation-name: pulsate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }
  .login-btn:active {
    box-shadow: none;
    transform: none;
    outline: none;
    border-color: transparent; }

#audience-wrapper {
  padding: 10px 40px;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.5s ease; }
  #audience-wrapper.active {
    opacity: 1;
    visibility: visible;
    max-height: 500px; }

#manage-songs-wrapper {
  height: 100%;
  background: #00C575; }

#song-list-wrapper {
  height: 100%;
  width: 100%;
  background: #00b3c5;
  color: #000; }
  #song-list-wrapper .container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 5% 5%; }
    #song-list-wrapper .container ol {
      width: 100%;
      counter-reset: song-counter; }
      #song-list-wrapper .container ol li {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        counter-increment: song-counter; }
        #song-list-wrapper .container ol li .song-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 20px;
          padding-bottom: 2px; }
          #song-list-wrapper .container ol li .song-wrapper::before {
            content: counter(song-counter) ".  ";
            font-weight: bold;
            font-size: 20px;
            margin-right: 5px; }
          #song-list-wrapper .container ol li .song-wrapper .fa-trash-can {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: #c51200; }
          #song-list-wrapper .container ol li .song-wrapper .fa-pen {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: #0051c5; }
          #song-list-wrapper .container ol li .song-wrapper .fa-check {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: green; }
          #song-list-wrapper .container ol li .song-wrapper .fa-star {
            margin-right: 3%;
            padding-top: 6px; }
          #song-list-wrapper .container ol li .song-wrapper .edit-song-form {
            display: flex;
            width: fit-content;
            align-items: center;
            font-weight: 500;
            width: 100%; }
            #song-list-wrapper .container ol li .song-wrapper .edit-song-form .approve-rename-btn {
              background: none;
              height: fit-content;
              width: fit-content;
              border: none;
              margin-right: 30px;
              align-self: flex-start; }
            #song-list-wrapper .container ol li .song-wrapper .edit-song-form .edit-song {
              font-size: 20px;
              font-family: inherit;
              font-weight: inherit;
              line-height: inherit;
              resize: none;
              outline: none;
              background: #00a1b1;
              border: none;
              border-radius: 5px;
              padding: 3px; }
          #song-list-wrapper .container ol li .song-wrapper .song-details {
            display: inline-block;
            width: 100%; }
            #song-list-wrapper .container ol li .song-wrapper .song-details .song-name {
              font-weight: 500; }
            #song-list-wrapper .container ol li .song-wrapper .song-details .song-musical {
              font-style: italic;
              font-size: 15px; }
    #song-list-wrapper .container #new-song-btn {
      margin: 15px 0px 30px;
      width: 200px; }

#now-singing-wrapper {
  background: url("../img/main/mic.jpeg") center center/cover;
  height: 44vh;
  width: 100%;
  position: relative; }
  #now-singing-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    text-align: center; }
  #now-singing-wrapper #now-singing {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3% 0; }
    #now-singing-wrapper #now-singing .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #now-singing-wrapper #now-singing .container h2 {
        display: block;
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        color: #fff; }
      #now-singing-wrapper #now-singing .container .headliner {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: #ffff50; }
    #now-singing-wrapper #now-singing .current-song {
      display: block;
      text-align: center;
      line-height: 1;
      margin-top: 2%;
      margin-bottom: 5%;
      font-weight: 200;
      font-size: 16px;
      color: #ffff50; }
    #now-singing-wrapper #now-singing .up-next {
      display: block;
      margin-top: 20%;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-align: center; }

#dashboard-wrapper {
  height: 22vh;
  transition: all 0.3s ease;
  color: #00C575; }
  #dashboard-wrapper #home-dashboard {
    padding: 5% 5%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #dashboard-wrapper #home-dashboard #user-next-song-name {
      margin-top: 1%;
      font-weight: 500;
      font-size: 18px; }
    #dashboard-wrapper #home-dashboard div:last-child {
      padding-top: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
  #dashboard-wrapper #no-song {
    padding: 5% 5%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #dashboard-wrapper #no-song div:last-child {
      padding-top: 3%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px; }
  #dashboard-wrapper #home-tips {
    margin-top: 1%;
    transform: scaleY(0);
    height: 0;
    transition: inherit; }
    #dashboard-wrapper #home-tips ul {
      margin: 0 10% 10% 10%; }
      #dashboard-wrapper #home-tips ul li {
        margin-top: 5%; }
      #dashboard-wrapper #home-tips ul li:last-child {
        margin-bottom: 5%; }

.home-card {
  position: relative;
  height: 11vh; }
  .home-card.audience {
    height: 17.6vh; }
  .home-card .larger {
    width: 70%; }
  .home-card .smaller {
    width: 30%; }
  .home-card .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .home-card .column-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .home-card img {
    object-fit: contain;
    height: 100%;
    width: 100%; }

#home-whatsapp i {
  color: #f4f4f4; }

#home-whatsapp.audience {
  height: 8.8vh; }

#home-whatsapp #no-spam {
  position: absolute;
  left: 70%;
  top: 25%;
  z-index: 10;
  font-size: 13px;
  transform: rotate(-47deg);
  font-weight: 500;
  color: #fff; }

#home-lineup.audience {
  height: 17.6vh; }

#home-lineup img {
  object-fit: contain;
  object-position: right;
  height: 100%;
  width: 100%; }

#home-suggest-song img {
  object-position: right; }

#song-added {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0; }
  #song-added .song-name {
    font-weight: 500; }

#faq-wrapper {
  background: #00C575;
  padding: 20px 15px; }
  #faq-wrapper #faq h1 {
    margin-bottom: 15px; }
  #faq-wrapper #faq ul {
    list-style: none;
    padding: 0 15px; }
    #faq-wrapper #faq ul li {
      margin-bottom: 20px; }
      #faq-wrapper #faq ul li .question {
        margin-bottom: 7px; }
        #faq-wrapper #faq ul li .question p {
          display: inline;
          font-size: 18px;
          font-weight: 500; }
        #faq-wrapper #faq ul li .question i {
          margin-right: 5px; }

#tip-wrapper {
  padding: 20px 0;
  background: #00C575;
  min-height: 100%;
  text-align: center; }
  #tip-wrapper #paybox {
    padding-top: 50px; }
    #tip-wrapper #paybox img {
      height: 80px;
      width: 250px;
      background-color: #333;
      border-radius: 5px; }
    #tip-wrapper #paybox p {
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 500; }
  #tip-wrapper #bit {
    margin-top: 50px; }
    #tip-wrapper #bit div {
      display: flex;
      justify-content: center;
      width: 100%; }
      #tip-wrapper #bit div #bit-img {
        margin-left: 10px;
        width: 40px;
        height: auto;
        border-radius: 5px; }
    #tip-wrapper #bit p {
      font-size: 25px;
      font-weight: 500; }
      #tip-wrapper #bit p strong {
        font-style: italic;
        font-weight: 500; }
  #tip-wrapper #cash {
    margin-top: 30px; }
    #tip-wrapper #cash p {
      font-size: 20px;
      font-weight: 500; }

#add-song-wrapper {
  background: #00C575;
  color: #000;
  height: 100%;
  width: 100%;
  padding: 3% 7%;
  position: relative; }
  #add-song-wrapper #view_suggestions_link {
    font-weight: 500;
    text-decoration: underline;
    font-size: 20px;
    color: #c51200; }
  #add-song-wrapper #singups-disabled {
    color: #ffff50;
    transform: rotate(-15deg);
    position: absolute;
    right: 12%;
    top: 12%;
    font-weight: 500;
    font-size: 50px;
    text-decoration: underline;
    transition: all 2s ease;
    opacity: 0;
    pointer-events: none; }
  #add-song-wrapper #add-song-text {
    font-size: 14px;
    margin-bottom: 5%; }
  #add-song-wrapper form {
    width: 100%; }
    #add-song-wrapper form #submit-wrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
    #add-song-wrapper form .form-control {
      margin-bottom: 15px;
      transition: all 2s ease; }
      #add-song-wrapper form .form-control input[type=text] {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: #333 2px solid;
        border-radius: 5px;
        background: #333;
        color: #fff;
        font-size: 18px;
        transition: inherit; }
        #add-song-wrapper form .form-control input[type=text]::placeholder {
          color: #aaa;
          font-size: 18px; }
      #add-song-wrapper form .form-control select {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        padding: 4px;
        background: #333;
        color: #fff;
        font-size: 14px;
        transition: inherit; }

#add-song-wrapper {
  background: #00C575;
  color: #000;
  height: 100%;
  width: 100%;
  padding: 3% 7%;
  position: relative; }
  #add-song-wrapper #suggest-song-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 25px; }
    #add-song-wrapper #suggest-song-header a {
      font-size: 14px; }
  #add-song-wrapper #add-song-text {
    font-size: 20px;
    margin-bottom: 10%; }
  #add-song-wrapper form {
    width: 100%; }
    #add-song-wrapper form #submit-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px; }
    #add-song-wrapper form .checkbox {
      margin: 30px 0px; }
      #add-song-wrapper form .checkbox input[type="checkbox"] {
        background-color: #333; }
    #add-song-wrapper form .form-control {
      margin-bottom: 15px;
      transition: all 2s ease; }
      #add-song-wrapper form .form-control input[type="text"] {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: #333 2px solid;
        border-radius: 5px;
        background: #333;
        color: #fff;
        font-size: 18px;
        transition: inherit; }
        #add-song-wrapper form .form-control input[type="text"]::placeholder {
          color: #aaa;
          font-size: 18px; }
      #add-song-wrapper form .form-control select {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        padding: 4px;
        background: #333;
        color: #fff;
        font-size: 14px;
        transition: inherit; }
  #add-song-wrapper #suggest-song-bottom {
    margin-top: 10%; }

#explanation-text {
  font-size: 18px;
  margin: 20px 0px; }

#suggestion-list-wrapper {
  height: 100%;
  width: 100%;
  background: #00b3c5;
  color: #000; }
  #suggestion-list-wrapper .container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 5% 5%; }
    #suggestion-list-wrapper .container #suggest-again-btn {
      margin: 15px 0px 30px;
      width: 250px; }
    #suggestion-list-wrapper .container ul {
      width: 100%; }
      #suggestion-list-wrapper .container ul li {
        display: flex;
        flex-direction: column;
        margin: 20px 10px; }
        #suggestion-list-wrapper .container ul li .song-wrapper {
          font-size: 20px;
          padding-bottom: 3%; }
          #suggestion-list-wrapper .container ul li .song-wrapper .fa-star {
            margin-right: 10px;
            padding-top: 6px; }
          #suggestion-list-wrapper .container ul li .song-wrapper .song-name {
            font-weight: 500;
            display: flex; }
        #suggestion-list-wrapper .container ul li .musical-name {
          font-weight: 500;
          font-style: italic; }
        #suggestion-list-wrapper .container ul li .suggested-by {
          font-weight: 500; }
        #suggestion-list-wrapper .container ul li.claimed {
          color: #666;
          pointer-events: none; }

.drink-highlight {
  color: white;
  background-color: #00C575;
  border-radius: 20%;
  padding: 5px;
  position: relative;
  display: inline-block; }
  .drink-highlight::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f57b";
    position: absolute;
    top: -5px;
    left: -7px;
    rotate: 30deg; }

#lyrics-wrapper {
  min-height: 100vh;
  width: 100%;
  background: #00b3c5;
  color: #000;
  margin-bottom: 4vh;
  padding: 2% 0% 2% 0%; }
  #lyrics-wrapper .container {
    overflow: wrap;
    height: 100%;
    width: 100%; }
    #lyrics-wrapper .container #lyrics-text {
      width: 100%; }
      #lyrics-wrapper .container #lyrics-text pre {
        text-wrap: wrap;
        line-height: 1.8em; }

@media only screen and (min-width: 768px) {
  /* Make the font big but keep room for movement on screen */
  #lyrics-wrapper .container #lyrics {
    max-width: 60%;
    font-size: 50px; } }

#lineup-wrapper {
  height: 100%;
  width: 100%;
  background: #00C575;
  color: #000;
  position: relative; }
  #lineup-wrapper hr {
    border: 1px black solid;
    width: 50%;
    margin: 5% auto 5% auto; }
  #lineup-wrapper .container {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 5% 5%; }
    #lineup-wrapper .container h1 {
      position: relative;
      margin-bottom: 5%; }
    #lineup-wrapper .container h2 {
      text-decoration: underline; }
    #lineup-wrapper .container ol {
      margin-top: 5%;
      width: 100%;
      counter-reset: song-counter; }
      #lineup-wrapper .container ol li {
        display: flex;
        flex-direction: column;
        counter-increment: song-counter;
        text-align: center; }
        #lineup-wrapper .container ol li .song-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 20px;
          padding-bottom: 2px; }
          #lineup-wrapper .container ol li .song-wrapper::before {
            content: counter(song-counter) ".  ";
            margin-right: 5px; }

.song-details {
  display: inline-block;
  width: 100%; }
  .song-details .song-name {
    font-weight: 500;
    font-size: 20px;
    font-weight: bold; }
  .song-details .singers {
    font-size: 20px; }
  .song-details .song-musical {
    font-style: italic;
    font-size: 18px; }

#currently-singing {
  box-sizing: border-box;
  margin: 8% auto 15% auto;
  padding: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: #b2edd5;
  border-radius: 10px;
  box-shadow: 0 0 15px #007646, 0 0 25px #007646, 0 8px 20px #007646, 0 -8px 20px #007646, 8px 0 20px #007646, -8px 0 20px #007646;
  /* Left light */ }
  #currently-singing .view-lyrics {
    margin-top: 10px;
    font-style: italic; }

#explanation-overlay {
  background-color: #00b3c5;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  position: fixed;
  top: -50px;
  right: -100px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  z-index: 1; }
  #explanation-overlay.expanded {
    width: 200%;
    height: 200%;
    opacity: 0.95; }

#explanation-label {
  position: fixed;
  top: 55px;
  right: 30px;
  font-weight: bold;
  font-size: 50px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out 0.3s, visibility 0.3s ease-in-out 0.3s;
  pointer-events: none;
  z-index: 2; }
  #explanation-label.expanded {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0; }

#explanation-body {
  position: fixed;
  height: 90%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
  padding: 10px 30px 10px 30px;
  pointer-events: none; }
  #explanation-body.expanded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  #explanation-body ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 50px 0 70px 0; }
  #explanation-body li {
    font-size: 25px;
    font-weight: 400; }
  #explanation-body a {
    pointer-events: auto;
    font-weight: 900; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  min-height: 100%; }

body {
  max-width: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background: #333;
  background-color: #333;
  color: #333;
  line-height: 1.6; }
  body.loading {
    position: relative; }
    body.loading:before {
      content: "";
      background-color: #333;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1000; }

a {
  text-decoration: none;
  color: inherit; }

input:focus {
  outline: none; }

main {
  position: absolute;
  top: 8vh;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 88vh; }
  main.nested-footer {
    height: 92vh; }

footer {
  width: 100%;
  height: 4vh; }
  footer .screen {
    display: none; }
  footer.regular {
    position: fixed;
    bottom: 0; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    footer .container #copywrite-wrapper {
      display: flex;
      justify-content: flex-start;
      text-align: center;
      font-size: 10.666px; }
    footer .container #footer-links {
      height: 100%;
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      footer .container #footer-links i {
        height: 100%;
        width: auto; }
