broadwaywithatwist.xyz {
    log {
            output file /srv/access.log
    }
    handle_path /static/* {
        root * /usr/share/caddy/django_static
        file_server
    }
    handle_path /media/* {
        root * /usr/share/caddy/django_media
        file_server
    }
    encode gzip
    reverse_proxy http://django:8000
}
