aiofiles==24.1.0
amqp==5.3.1
anyio==4.8.0
appdirs==1.4.4
appnope==0.1.4
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
backcall==0.2.0
beautifulsoup4==4.13.3
billiard==4.2.1
Brotli==1.1.0
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.12
curl_cffi==0.9.0
decorator==5.1.1
distlib==0.3.9
Django==5.1.6
django-admin-sortable2==2.2.4
django-constance==4.3.2
django-dbbackup==4.2.1
django-easy-select2==1.5.8
django-flags==5.0.13
django-livereload-server==0.5.1
djangorestframework==3.15.2
emport==1.4.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
filelock==3.17.0
flake8==7.1.2
freezegun==1.5.1
gunicorn==23.0.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
hyperframe==6.1.0
idna==3.10
infi.pyutils==1.1.3
ipdb==0.13.13
ipython==8.32.0
jedi==0.19.2
kombu==5.4.2
Logbook==1.8.0
lxml==5.3.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mock==5.1.0
openpyxl==3.1.5
packaging==24.2
parso==0.8.4
pbr==6.1.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.19.1
pyparsing==3.2.1
pypi-switcher==0.1
python-dateutil==2.9.0.post0
pytz==2025.1
redis==4.6.0
requests==2.32.3
scrape-search-engine==0.2.2
sherlock==0.4.1
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.4.1
titlecase==2.4.1
tomli==2.2.1
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
virtualenv==20.29.2
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
wcwidth==0.2.13
