<footer class="regular">
    <div class="container dark-card">
        <div id="copywrite-wrapper">
            <p>Copyright &copy; 2022 - Broadway With a Twist</p>
        </div>
        <div id="footer-links">
            <a href="https://www.facebook.com/groups/763859465058650/"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://chat.whatsapp.com/La9NtdsfoXC0xKnCVjTdIw"><i
                    class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</footer>

