<footer class="regular">
    <div class="container dark-card">
        <div id="copywrite-wrapper">
            <p>Copyright &copy; 2024 - Broadway With a Twist</p>
        </div>
        <div id="footer-links">
            <a href="https://tinyurl.com/webapp-footer-icon-facebook"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://tinyurl.com/webapp-footer-icon-igram"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=footer&utm_campaign=webapp&utm_content=footer-whatsapp"><i
                    class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</footer>

