<nav>
    <div id="hamburger-wrapper">
        <div id="hamburger"></div>
    </div>
    <div id="menu-wrapper">
        <div id="overlay"></div>
        <div id="menu">
            <div id="menu-content">
                <h2>Hi {{ user.first_name }}!</h2>
                <h3>Ready to Sing?</h3>
                <ul>
                    <li {% if current == 'home' %} class="hidden" {% endif %}>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li {% if current == 'manage-songs' %} class="hidden" {% endif %}>
                        <a href="{% url 'manage_songs' %}">Manage Songs</a>
                    </li>
                    <li><a href="https://www.facebook.com/groups/763859465058650">Upload Your Videos!</a></li>
                    <li><a href="/admin/song_signup/songrequest">View Lineup</a></li>
                    <li {% if current == 'tip-us' %} class="hidden" {% endif %}>
                        <a href="{% url 'tip_us' %}">Tip Us</a></li>
                    <li {% if current == 'faq' %} class="hidden" {% endif %}>
                        <a href="{% url 'faq' %}">Common Questions</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <p>BWT</p>
            </a>
        </div>
    </div>

</nav>