<nav>
    <div id="hamburger-wrapper">
        <div id="hamburger"></div>
    </div>
    <div id="menu-wrapper">
        <div id="overlay"></div>
        <div id="menu">
            <div id="menu-content">
                <h2>Hi {{ user.first_name }}!</h2>
                <h3>Ready to Sing?</h3>
                <ul>
                    <li {% if current == 'home' %} class="hidden" {% endif %}>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if is_singer %}
                    <li {% if current == 'manage-songs' %} class="hidden" {% endif %}>
                        <a href="{% url 'manage_songs' %}">Manage Songs</a>
                    </li>
                    {% endif %}
                    <li><a href="{% url 'lineup' %}">Lineup</a></li>
                    <li {% if current == 'suggest-song' %} class="hidden" {% endif %}>
                        <a href="{% url 'suggest_song' %}">Suggest a Song</a>
                    </li>
                    <li {% if current == 'faq' %} class="hidden" {% endif %}>
                        <a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
        </div>
        <div id="navbar-icons">
            <div id="navbar-whatsapp">
                <a href="https://links.broadwaywithatwist.xyz/whatsapp?utm_source=hamburger-menu&utm_campaign=webapp&utm_content=hamburger-menu-whatsapp"><i class="fa-brands fa-whatsapp"></i> Next Event Updates</a>
            </div>
            <div id="navbar-social">
                <a href="https://tinyurl.com/webapp-hamburger-menu-fb"><i class="fa-brands fa-facebook"></i></a>
                <div id="navbar-instagram">
                    <a href="https://tinyurl.com/webapp-hamburger-instagram" id="navbar-instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://tinyurl.com/webapp-hamburger-instagram" id="navbar-instagram"><p>@bwtisrael</p></a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <p>BWT</p>
            </a>
        </div>
    </div>

</nav>
