#add-song-wrapper {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    width: 100%;
    padding: 3% 7%;
    position: relative;

    .form-messages {
        color: #c50050;
        padding-top: 0;
    }

    #view_suggestions_link {
        font-weight: 500;
        text-decoration: underline;
        font-size: 20px;
        color: #c51200;
    }

    #signups-disabled-text {
        color: $third-color;
        transform: rotate(-15deg);
        position: absolute;
        right: 19%;
        top: 19%;
        font-weight: 500;
        font-size: 40px;
        transition: all 2s ease;
        opacity: 0;
        pointer-events: none;
        text-align: center;
        background: #333333CC;
        border-radius: 30px;
        padding: 20px;

        &.signups-disabled{
            opacity: 1;
        }
    }

    .form-explain {
        font-size: 16px;
        margin-bottom: 5%;
        margin-top: 3%;
        font-weight: 600;
    }
    .form-bullets{
        list-style-position: inside;
    }

    form {
        width: 100%;

        #submit-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .form-control {
            margin-bottom: 15px;
            transition: all 2s ease;

            input[type="text"] {
                width: 100%;
                padding: 4px;
                height: 40px;
                border: #333 2px solid;
                border-radius: 5px;
                background: #333;
                color: #fff;
                font-size: 18px;
                &::placeholder {
                    color: #aaa;
                    font-size: 18px;
                }
                transition: inherit;

            }

            input {
                &.signups-disabled{
                    background: #666;
                    transition: inherit;
                }
            }


            select {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                height: 30px;
                padding: 4px;
                background: #333;
                color: #fff;
                font-size: 14px;
                transition: inherit;

                .signups-disabled{
                    background: #666;
                }
            }
        }
    }
}

// Dialog box

#duplicate-song-dialog {
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p {
        margin: 0 0 20px;
        text-align: center;
    }
    .buttons-wrapper {
        display: flex;
        flex-direction: column;

        button {
            cursor: pointer;
            margin-bottom: 15px;
            padding: 10px 20px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            border-radius: 4px;
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
