// Colors
$primary-color: #00C575;
$secondary-color: #00b3c5;
$third-color: rgb(255, 255, 80);
$dark-bg: #333;
$light-bg: #f3c9bd;
$login: rgb(255, 255, 61);
$complimentery-secondary: #c51200;

// Spacing
$navbar-height: 8vh;
$footer-height: 4vh;

// Main screen
$now-singing-height: 44vh;
$dashboard-height: 22vh;
$wa-banner-height: 11vh;
$paybox-banner-height: 11vh;


// Manage songs
$song-list-height: 27vh;
$add-song-height: 57vh;  


