// Colors
$primary-color: #00C575;
$secondary-color: #00b3c5;
$third-color: rgb(255, 255, 80);
$banner-color: #DC3AD3;
$dark-bg: #333;
$light-bg: #f3c9bd;
$login: rgb(255, 255, 61);
$complimentery-secondary: #c51200;
$raffle-color: #FFD700;

// Spacing
$navbar-height: 8vh;
$footer-height: 4vh;

$half-page: 44vh;
$quarter-page: 22vh;
$eighth-page: 11vh;

$screen-min-width: 46em;