#faq-wrapper {
  background: $primary-color;
  padding: 20px 15px;

  #faq {
    h1 {
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0 15px;
      li {
          margin-bottom: 20px;
        .question {
          margin-bottom: 7px;
          p {
            display: inline;
            font-size: 18px;
            font-weight: 500;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
