#lyrics-wrapper {
    height: 100%;
    width: 100%;
    background: #00b3c5;
    color: #000;
    margin-bottom: $footer-height;
    padding: 2% 0% 2% 0%;

    .container {
        overflow: wrap;
        height: 100%;
        width: 100%;

        #lyrics-text {
            width: 100%;

            pre {
                text-wrap: wrap;
                line-height: 1.8em;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    /* Make the font big but keep room for movement on screen */
    #lyrics-wrapper .container #lyrics {
        max-width: 60%;
        font-size: 50px;
    }
}
