@import url("https://fonts.cdnfonts.com/css/8bit-wonder");

#passcode-reveal-wrapper {
    display: none;
    color: white;

    &.displayed {
        display: block;
        position: absolute;
        right: 70px;
        top: 30px;
        border: dotted 10px $complimentery-secondary;
        box-sizing: border-box;
        padding: 20px;
        font-weight: bolder;
        font-size: 45px;
        text-align: center;

        #passcode-reveal{
            font-size: 65px;
            font-weight: 800;
            letter-spacing: 3px;
        }
    }
}

.fixed-logo {
    display: none;
    z-index: 300;

    #social-qrs{
        display: none;
    }

    &.screen, &.side-logo{
        position: fixed;
        display: block;
        img {
            height: 15%;
            width: 15%;
            padding: 15px 0px 0px 15px;
        }
    }

    &.not-started {
        position: inherit;
        display: flex;
        background-color: $secondary-color;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100vh;
        width: 100vw;

        &.screen {
            display: block;
            #logo-img {
                height: 65%;
                width: 100%;
                margin-top: 40px;
            }
            #social-qrs{
                display: flex;
                flex-direction: column;
                color: white;
                width: auto;
                background-color: #333;
                letter-spacing: 3px;
                margin-top: 20px;
                padding-top: 5px;
                padding-bottom: 5px;

                #tag-us-title{
                    text-align: center;
                    font-size: 60px;
                    font-weight: 600;
                    font-style: italic;
                    line-height: 60px;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }

                #tag-us-handle-wrapper{
                    display: flex;
                    width: 40%;
                    margin: auto;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    .tag-us-icon{
                        object-fit: contain;
                        height: 70px;
                        width: 70px;
                        padding: 0;
                        display: block;
                    }
                    .tag-handle{
                        font-size: 70px;
                        font-weight: 800;
                        margin-left: 10px;
                    }
                }
            }
        }
        #logo-img {
            height: 80%;
            width: 80%;
            padding: 0;
            object-fit: contain;
        }

    }
}

.drink-highlight {
    color: white;
    background-color: $primary-color;
    border-radius: 20%;
    padding: 5px;
    position: relative;
    display: inline-block;

    &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 6 Pro";
        font-weight: 300;
        content: "\f57b"; // Comment out to change martini icon
        position: absolute;
        top: -30%;
        left: -25%;
        rotate: (30deg); // Comment out to change martini icon
        // content: "\e0b3"; // For beer icon
        // transform: rotate(30deg) scaleX(-1); // For beer icon
    }
}

#lyrics-wrapper {
    min-height: 100vh;
    width: 100%;
    background: #00b3c5;
    color: #000;
    margin-bottom: $footer-height;
    padding: 2% 0% 2% 0%;

    &.group-song {
        background: $primary-color;

        .drink-highlight {
            color: white;
            background-color: $secondary-color;
        }
    }
    &.screen {
        padding-bottom: 50vh;
        margin-bottom: 0px;
    }

    .container {
        overflow: wrap;
        height: 100%;
        width: 100%;

        #lyrics-text {
            width: 100%;

            #group-song-title {
                font-size: 100px;
                margin-bottom: 50px;
                margin-top: 30px;
                font-weight: 900;
            }

            pre {
                text-wrap: wrap;
                line-height: 1.8em;
            }

            &.screen {
                font-size: 55px;
                max-width: 60%;
                pre {
                    line-height: 1.6em;
                }
            }
        }
    }

    &.boho {
        background-color: #0000aa;

        #lyrics-text,
        pre {
            color: #fff;
            font-family: "8BIT WONDER", sans-serif;
            margin-top: 40px;

            #bsod-title {
                font-size: 30px;
                background-color: #666;
                width: fit-content;
                margin: auto;
            }
            #bsod-text {
                text-align: left;
                font-size: 25px;
                line-height: 2em;
                margin-bottom: 100px;
            }
            &.screen {
                font-size: 40px;
                max-width: 80%;
            }
        }
    }
}