#manage-songs-wrapper {
  height: 100%;
  background: $primary-color;
}

#song-list-wrapper {
  height: 100%;
  width: 100%;
  background: $secondary-color;
  color: set-text-color($secondary-color);


  .container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 5% 5%;

    ol {
      width: 100%;
      counter-reset: song-counter;

      li {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        counter-increment: song-counter;


        .song-wrapper {
            &::before{
                content: counter(song-counter) ".  ";
                font-weight: bold;
                font-size: 20px;
                margin-right: 5px;
            }
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 20px;
          padding-bottom: 3%;
          .fa-xmark {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: $complimentery-secondary;
          }
          .fa-star {
            margin-right: 3%;
            padding-top: 6px;
          }
          .song-name {
            display: inline-block;
            width: 100%;
            font-weight: 500;
          }
        }
      }
    }

    #new-song-btn {
        margin: 15px 0px 30px;
        width: 200px;
    }
  }
}
