#manage-songs-wrapper {
  height: 100%;
  background: $primary-color;
}

#song-list-wrapper {
  height: 100%;
  width: 100%;
  background: $secondary-color;
  color: set-text-color($secondary-color);


  .container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 5% 5%;

    ol {
      width: 100%;
      counter-reset: song-counter;

      li {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        counter-increment: song-counter;


        .song-wrapper {
            &::before{
                content: counter(song-counter) ".  ";
                font-weight: bold;
                font-size: 20px;
                margin-right: 5px;
            }
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: 20px;
          padding-bottom: 2px;
          .fa-trash-can {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: $complimentery-secondary;
          }
          .fa-pen {
            font-size: 25px;
            margin-left: 5%;
            padding-top: 4px;
            color: #0051c5;
          }
          .fa-star {
            margin-right: 3%;
            padding-top: 6px;
          }
          .edit-song-form {
            display: flex;
            width: fit-content;
            align-items: center;
            font-weight: 500;
            width: 100%;

            .approve-rename-btn {
                    background: none;
                    border: none;
                    margin-left: 5%;
                    padding-top: 4px;
                    align-self: flex-start;
                .fa-check{
                    font-size: 25px;
                    color: green;
                }
            }
            .cancel-rename-btn {
                font-size: 25px;
                margin-left: 5%;
                padding-top: 4px;
                color: $complimentery-secondary;
                align-self: flex-start;
            }

            .edit-song {
                font-size: 20px;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
                resize: none;
                outline: none;
                background: #00a1b1;
                border: none;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 3px;
            }

            .edit-partners{
                background: #00a1b1;
            }

            .edit-notes::placeholder{
                color: #666;
                opacity: 0.7;
            }



          }

          .song-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            .song-name{ 
                font-weight: 500;
            }
            .title{
                font-weight: 400;
            }
            .song-musical {
                font-style: italic;
                font-size: 17px;
            }
            .other-singers {
                margin-top: 10px;
                font-size: 15px;
                font-weight: 200;
            }
            .notes {
                margin-top: 10px;
                font-size: 15px;
                font-weight: 200;
            }
            label {
                font-size: 15px;
                font-weight: 200;
            }
            
            .form-messages {
                color: $complimentery-secondary;
                font-size: 15px;
            }
          }
        }
      }
    }

    #new-song-btn {
        margin: 15px 0px 30px;
        width: 200px;
    }
  }
}
