.raffle-winner-wrapper {
    height: 100vh;
    width: 100vw;
    z-index: 200;
    position: fixed;
    background-color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 50px;
    background-color: $secondary-color;

    .raffle-winner-title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;

        opacity: 0;
        transform: translateY(200px);
        transition: opacity 1s ease, transform 1s ease;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .raffle-winner-name {
        font-size: 40px;
        text-align: center;
        margin-bottom: 100px;
        font-weight: 900;
        opacity: 0;
        transform: translateY(200px);
        transition: opacity 1s ease, transform 1s ease;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .raffle-winner-description {
        font-size: 30px;
        text-align: center;
        opacity: 0;
        transform: translateY(200px);
        transition: opacity 1s ease, transform 1s ease;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
