#tip-wrapper{
    padding: 20px 0;
    background: $primary-color;
    min-height: 100%;
    text-align: center;

    #paybox{
        padding-top: 50px;
        img{
            height: 80px;
            width: 250px;
            background-color: #333;
            border-radius: 5px;
        }
        p{
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 500;
        }
    }

    #bit{
        margin-top: 50px;
        div{
            display: flex;
            justify-content: center;
            width: 100%;
            #bit-img{
                margin-left: 10px;
                width: 40px;
                height: auto;
                border-radius: 5px;
            }
        }
        p {
            font-size: 25px;
            font-weight: 500;

            strong{
                font-style: italic;
                font-weight: 500;
            }

        }
            
    }
    #cash{
        margin-top: 30px;
        p {
            font-size: 20px;
            font-weight: 500;
        }
            
    }
}