#tip-wrapper{
    padding: 20rem 0;
    background: $primary-color;
    min-height: 100%;
    text-align: center;

    #paybox{
        padding-top: 50rem;
        img{
            height: 80rem;
            width: 250rem;
            background-color: #333;
            border-radius: 5px;
        }
        p{
            margin-bottom: 10rem;
            font-size: 25rem;
            font-weight: 500;
        }
    }

    #bit{
        margin-top: 50rem;
        div{
            display: flex;
            justify-content: center;
            width: 100%;
            #bit-img{
                margin-left: 10rem;
                width: 40rem;
                height: auto;
                border-radius: 5rem;
            }
        }
        p {
            font-size: 25rem;
            font-weight: 500;

            strong{
                font-style: italic;
                font-weight: 500;
            }

        }
            
    }
}