.trivia-wrapper{
    height: 100vh;
    width: 100vw;
    z-index: 200;
    position: fixed;
    background-color: $primary-color;
    text-align: center;
    opacity: 0;
    transform: translateY(100vh);
    transition: opacity 1s ease, transform 1s linear;
    &.active{
        opacity: 1;
        transform: translateY(0);
    }

    .trivia-questions-wrapper{
        height: inherit;
        width: inherit;
        z-index: inherit;
        display: flex;
        padding: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;

        .trivia-image-wrapper{
            .question-image{
                object-fit: contain;
                object-position: center center;
                display: block;
                overflow: hidden;
                border-radius: 10px;
            }
        }

        &.live-lyrics-trivia{
            justify-content: start;
            gap: 30px;
            padding: 50px 200px 30px 200px;

            h2{
                font-size: 80px;
                max-height: 15vh;
            }
            .question-text{
                max-height: 35vh;
            }
            .trivia-image-wrapper{
                height: 50vh;
                .question-image{
                    height: 100%;
                }
            }
        }

        &.base-lyrics-trivia{
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            h2{
                font-size: 35px;
                max-height: 10vh;
            }
            .question-text{
                max-height: 20vh;
            }

            .trivia-image-wrapper{
                height: 20vh;
                .question-image{
                    height: 100%;
                }
            }

            .answers-choice-wrapper{
                height: 40vh;

                .answers-choice {
                    height: 100%;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    list-style-type: none;

                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        margin: 10px;
                        text-align: center;
                        font-weight: 900;
                        border-radius: 20px;
                        background-color: #66dcac;
                    }
                }
            }
        }
    }
    .trivia-winner-wrapper{
        height: inherit;
        width: inherit;
        z-index: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 50px 50px 50px;
        background-color: $secondary-color;


        .trivia-winner-title{
            font-size: 40px;
            text-align: center;
            margin-bottom: 40px;
        }

        .trivia-winner-name{
            font-size: 40px;
            text-align: center;
            margin-bottom: 100px;
            font-weight: 900;
            opacity: 0;
            transform: translateY(200px);
            transition: opacity 1s ease, transform 1s ease;
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
        }
        .trivia-answer-title{
            font-size: 30px;
            text-align: center;
            opacity: 0;
            transform: translateY(200px);
            transition: opacity 1s ease, transform 1s ease;
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
        }
        .trivia-answer{
            font-size: 25px;
            text-align: center;
            padding: 20px;
            font-weight: 500;
            opacity: 0;
            transform: translateY(200px);
            transition: opacity 1s ease, transform 1s ease;
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
        }

        &.live-lyrics-trivia{

            .trivia-winner-title{
                font-size: 80px;
            }
            .trivia-winner-name{
                font-size: 90px;
            }
            .trivia-answer-title{
                font-size: 60px;
            }
            .trivia-answer{
                font-size: 80px;
            }
        }
        &.base-lyrics-trivia{
            .trivia-answer{
                font-size: 30px;
            }

        }
    }
}