@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oleo+Script+Swash+Caps&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

@import "config";
@import "utils";
@import "nav";
@import "login";
@import "manage-songs";
@import "home";
@import "faq";
@import "tip-us";
@import "add_song";
@import "suggest_group_song";
@import "view-suggestions";
@import "audience_suggestions";
@import "lyrics";
@import "lineup";
@import "trivia";
@import "raffle";
@import "footer";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    max-width: 100%;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    background: #333;
    background-color: #333;
    color: #333;
    line-height: 1.6;

    &.loading {
        position: relative;
        &:before {
            content: "";
            background-color: #333;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}

// Styling for home page

main {
    position: absolute;
    top: $navbar-height;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh -$navbar-height -$footer-height;

    &.nested-footer {
        height: 100vh-$navbar-height;
    }

    &.pc-layout {
        position: relative;
        top: 0;
        z-index: 0;
        min-height: 100vh;
        height: auto;
    }
}

footer {
    width: 100%;
    height: $footer-height;

    &.screen {
        display: none;
    }

    &.regular {
        position: fixed;
        bottom: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        #copywrite-wrapper {
            display: flex;
            justify-content: flex-start;
            text-align: center;
            font-size: 10.666px;
        }

        #footer-links {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            i {
                height: 100%;
                width: auto;
            }
        }
    }
}
