{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
            {{ block.super }}
            <li>
                <a href="{% url 'end_group_song' %}">End Group Song</a>
            </li>
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div style="display: flex">
            <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
                <p style="font-size:20px; margin: 0;">Current Group song: {% if group_song %} {{ group_song }}
                    {% else %} None {% endif %}</p>
            </div>
    </div>
{% endblock %}

