{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
            {% load feature_flags %}
            {{ block.super }}
            {% if request.user.is_superuser %}
            <li>
                {% flag_enabled 'STARTED' as started %}
                {% if started %}
                    <a href="{% url 'end_evening' %}">End Evening</a>
                {% else %}
                    <a href="{% url 'start_evening' %}">Start Evening</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'recalculate_priorities' %}">Recalulate</a>
            </li>
            <li>
                {% flag_enabled 'CAN_SIGNUP' as can_signup %}
                {% if can_signup %}
                <a href="{% url 'disable_signup' %}">Stop Additional Signups</a>
                {% else %}
                <a href="{% url 'enable_signup' %}">Allow More Signups</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'reset_database' %}"
                   onclick="return confirm('Are you sure you want to erase the entire database?')">Reset
                    Database</a>
            </li>
            {% endif %}
{% endblock %}


{% block object-tools %}
{{ block.super }}
    <div style="display: flex; flex-wrap: wrap;">
        <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
            <p style="font-size:20px; margin: 0;">{{ new_singers_num }} new singers</p>
        </div>
        {% if group_song %}
            <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
                <p style="font-size:20px; margin: 0;">Current Group song: {% if group_song %} {{ group_song }} - {% if is_active %} Running {% else %} Not Running {% endif %}
                    {% else %} None {% endif %}</p>
            </div>
        {% endif %}
        <!-- Toggle Button -->
        <button id="toggleBgBtn" type="button" style="margin: 20px; padding: 10px; font-size: 20px; cursor: pointer;">
            Start Transposition
        </button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var initialColor = localStorage.getItem('bgColor') || '';
            var initialText = localStorage.getItem('btnText') || 'Start Transposition';
            document.body.style.backgroundColor = initialColor;
            document.getElementById('toggleBgBtn').textContent = initialText;

            document.getElementById('toggleBgBtn').addEventListener('click', function() {
                var currentColor = document.body.style.backgroundColor;
                var newColor = currentColor === 'red' ? '' : 'red';
                document.body.style.backgroundColor = newColor;
                localStorage.setItem('bgColor', newColor);

                var newText = newColor === 'red' ? 'Stop Transposition' : 'Start Transposition';
                this.textContent = newText;
                localStorage.setItem('btnText', newText);
            });
        });
    </script>
{% endblock %}

