{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
            {% load feature_flags %}
            {{ block.super }}
            {% if request.user.is_superuser %}
            <li>
                {% flag_enabled 'STARTED' as started %}
                {% if started %}
                    <a href="{% url 'end_evening' %}">End Evening</a>
                {% else %}
                    <a href="{% url 'start_evening' %}">Start Evening</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'recalculate_priorities' %}">Recalulate</a>
            </li>
            <li>
                {% flag_enabled 'CAN_SIGNUP' as can_signup %}
                {% if can_signup %}
                <a href="{% url 'disable_signup' %}">Stop Additional Signups</a>
                {% else %}
                <a href="{% url 'enable_signup' %}">Allow More Signups</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'reset_database' %}"
                   onclick="return confirm('Are you sure you want to erase the entire database?')">Reset
                    Database</a>
            </li>
            <li>
                <a href="{% url 'upload_lineapp_orders' %}">Upload Lineapp</a>
            </li>

            {% endif %}
{% endblock %}


{% block object-tools %}
{{ block.super }}
    <div style="display: flex">
        <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
            <p style="font-size:20px; margin: 0;">{{ new_singers_num }} new singers</p>
        </div>
        {% if group_song %}
        <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
            <p style="font-size:20px; margin: 0;">Group song: {{ group_song }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

