{% extends 'admin/change_list.html' %}


{% block object-tools-items %}
    <li>
        <a href="{% url 'deactivate_trivia' %}">Stop Trivia</a>
    </li>
            {{ block.super }}
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div style="display: flex">
            <div style="margin: 20px; border: 3px solid purple; width: fit-content; padding: 10px;">
                <p style="font-size:20px; margin: 0;">Current Group song: {% if group_song %} {{ group_song }} - {% if is_active %} Running {% else %} Not Running {% endif %}
                    {% else %} None {% endif %}</p>
            </div>
    </div>
{% endblock %}

