@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap");
nav {
  position: relative; }

#menu-wrapper {
  position: fixed;
  visibility: hidden;
  transform: translateX(100vw); }

#navbar {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 15rem; }
  #navbar .logo {
    color: #00C575;
    font-family: 'Anton', sans-serif;
    font-size: 30rem;
    letter-spacing: 1.5rem; }
  #navbar #hamburger-wrapper {
    width: 30rem;
    padding: 5rem; }
    #navbar #hamburger-wrapper #hamburger-bun {
      width: 100%;
      height: 2.5rem;
      background-color: #00C575;
      position: relative; }
      #navbar #hamburger-wrapper #hamburger-bun::before {
        position: absolute;
        content: '';
        top: -7rem;
        width: 100%;
        height: 100%;
        background: inherit; }
      #navbar #hamburger-wrapper #hamburger-bun::after {
        position: absolute;
        content: '';
        top: 7rem;
        width: 100%;
        height: 100%;
        background: inherit; }

:root {
  font-size: 6.25%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 16rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
