@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
.container {
  width: 100vw;
  padding: 0 20rem;
  margin: auto;
  overflow: hidden;
  height: 100%; }

.hidden {
  display: none; }

.flex-card .row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%; }
  .flex-card .row.reverse {
    flex-direction: row-reverse; }

.flex-card .column {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .flex-card .column.smaller {
    width: 25%; }
  .flex-card .column.larger {
    width: 65%; }

.flex-card .column-1,
.flex-card .column-2 {
  height: 100%;
  width: 100%;
  padding: 10rem; }

.btn {
  background-color: #00C575;
  color: #000;
  display: inline-block;
  padding: 7rem;
  border-radius: 10rem;
  border: none; }
  .btn.btn-inverted {
    background-color: #333;
    color: #00C575; }
  .btn.btn-secondary-inverted {
    background-color: #333;
    color: #00b3c5; }

.dark-card {
  background-color: #333;
  color: #00C575; }

.light-card {
  background-color: #00C575;
  color: #000; }

.secondary-card {
  background-color: #00b3c5;
  color: #000; }

nav {
  position: relative; }

#menu-wrapper {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 0;
  z-index: 1; }
  #menu-wrapper.extend {
    visibility: visible; }
    #menu-wrapper.extend #overlay {
      transform: translateX(0);
      opacity: 1; }
    #menu-wrapper.extend #menu {
      transform: translateX(0);
      opacity: 1; }
  #menu-wrapper #overlay {
    background-color: rgba(0, 197, 117, 0.95);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.3s ease; }
  #menu-wrapper #menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50rem 40rem;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(50vw); }
    #menu-wrapper #menu #menu-content {
      color: #000; }
      #menu-wrapper #menu #menu-content h2 {
        font-size: 40rem;
        font-weight: 900; }
      #menu-wrapper #menu #menu-content h3 {
        font-size: 25rem;
        margin-bottom: 50rem; }
      #menu-wrapper #menu #menu-content li {
        margin: 20rem 0;
        font-size: 30rem;
        font-weight: 900; }

#navbar {
  position: fixed;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 15rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  transition: all 0.4s ease;
  z-index: 0; }
  #navbar .logo {
    color: #00C575;
    font-family: 'Anton', sans-serif;
    font-size: 30rem;
    letter-spacing: 1.5rem;
    transition: inherit; }

#hamburger-wrapper {
  width: 30rem;
  padding: 5rem;
  position: fixed;
  z-index: 10;
  top: 2.66667vh;
  right: 2.66667vh; }
  #hamburger-wrapper #hamburger {
    width: 100%;
    height: 2.5rem;
    background-color: #00C575;
    position: relative;
    transition: transform 0.3s ease; }
    #hamburger-wrapper #hamburger::before {
      position: absolute;
      content: '';
      top: -7rem;
      width: 100%;
      height: 100%;
      background: inherit;
      transition: inherit; }
    #hamburger-wrapper #hamburger::after {
      position: absolute;
      content: '';
      top: 7rem;
      width: 100%;
      height: 100%;
      background: inherit;
      transition: inherit; }
    #hamburger-wrapper #hamburger.close {
      transform: rotate(-45deg);
      background-color: #000; }
      #hamburger-wrapper #hamburger.close::before {
        top: 0; }
      #hamburger-wrapper #hamburger.close::after {
        top: 0;
        transform: rotate(90deg); }

:root {
  font-size: 6.25%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  max-width: 100%;
  font-size: 16rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: inherit; }

main {
  position: absolute;
  top: 8vh;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }
  main #now-singing-wrapper {
    background: url("../img/main/mic.jpeg") center center/cover;
    height: 26vh;
    width: 100%;
    position: relative; }
    main #now-singing-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.45);
      z-index: 1;
      text-align: center; }
    main #now-singing-wrapper #now-singing {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10rem 5rem;
      color: #fff; }
      main #now-singing-wrapper #now-singing h2 {
        display: block;
        text-align: center;
        font-size: 30rem;
        font-weight: 300; }
      main #now-singing-wrapper #now-singing .headliner {
        text-align: center;
        font-size: 20rem;
        font-weight: 500; }
      main #now-singing-wrapper #now-singing .current-song {
        display: block;
        text-align: center;
        line-height: 1;
        margin-bottom: 15rem;
        font-weight: 200;
        font-size: 16rem; }
      main #now-singing-wrapper #now-singing .up-next {
        display: block;
        margin-top: 15rem;
        padding-top: 15rem;
        font-size: 15rem;
        color: #f4f4f4;
        font-weight: 500; }
  main #dashboard-wrapper {
    height: 18vh;
    padding: 5rem 20rem;
    transition: all 0.3s ease; }
    main #dashboard-wrapper #dashboard {
      padding: 5rem 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main #dashboard-wrapper #dashboard p:first-child {
        font-weight: 500; }
      main #dashboard-wrapper #dashboard div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
    main #dashboard-wrapper #tips {
      margin-top: 15rem;
      transform: scaleY(0);
      height: 0;
      transition: inherit; }
      main #dashboard-wrapper #tips ul {
        margin: 10rem; }

#whatsapp {
  height: 20vh; }
  #whatsapp .column-1 h3 {
    margin-bottom: 10rem; }
  #whatsapp .column-2 {
    display: flex;
    justify-items: center;
    align-items: center; }

#tip-us {
  height: 17vh; }
  #tip-us .larger {
    width: 60%; }
  #tip-us .smaller {
    width: 40%; }
  #tip-us .column-1 h3 {
    margin-bottom: 10rem; }
  #tip-us .column-2 {
    display: flex;
    justify-items: center;
    align-items: center; }
    #tip-us .column-2 a {
      display: block;
      display: flex;
      justify-items: center;
      align-items: center; }
      #tip-us .column-2 a #bit-img {
        object-fit: cover;
        width: 80%;
        height: 50%;
        margin: auto;
        border-radius: 10rem; }

footer {
  width: 100%;
  height: 12vh;
  background-color: #f3c9bd; }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .container #footer-links {
      margin-bottom: 5rem; }
      footer .container #footer-links i {
        margin: 0 10rem; }
