{% load static %}
{% load img_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% load livereload_tags %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/4078bed46b.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
        var isSuperuser = {{ request.user.is_superuser|lower }};
        var isLoggedIn = {{ request.user.is_authenticated|lower }}
        </script>
        <script type="module" src="{% static "js/base.js" %}"></script>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>Broadway With a Twist</title>
        {% livereload_script %}
    </head>

    <body>
        {% with is_singer=request.user.is_singer username=request.user.username %}

        <div class="trivia-wrapper hidden">
            <div id="trivia-logo" class="fixed-logo hidden side-logo">
                <img src="{% bwt_logo %}">
            </div>
            <div class="trivia-questions-wrapper hidden base-lyrics-trivia">
                <h2>TRIVIA QUESTION!!</h2>
                <div class="question-text"></div>
                <div class="trivia-image-wrapper">
                    <img id="question-image-base" class="question-image hidden" alt="Question Image">
                </div>
                <div class="answers-choice-wrapper">
                    <ul class="answers-choice">
                        <li data-answer="1" id="answer1"></li>
                        <li data-answer="2" id="answer2"></li>
                        <li data-answer="3" id="answer3"></li>
                        <li data-answer="4" id="answer4"></li>
                    </ul>
                </div>
            </div>
            <div class="trivia-winner-wrapper base-lyrics-trivia">
                <div class="trivia-winner-title">
                    AND THE WINNER IS...
                </div>
                <div class="trivia-winner-name">
                </div>
                <div class="trivia-answer-title">
                    THE CORRECT ANSWER WAS:
                </div>
                <div class="trivia-answer">
                </div>
            </div>
        </div>
        {% block content %} {% endblock %}
        {% endwith %}
    </body>

</html>
